.home {
  display: flex;
  justify-content: space-between;
  transition: background-color $short ease;

  @include media {
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }

  .left {
    width: calc(30% - #{$m-sm}rem);
    @include padding(0, 0, 0, $m-sm);
    position: sticky;
    top: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;

    @include media {
      width: 100%;
    }

    .title {
      @include responsive-font($xlg);
      font-weight: $reg;
      @include margin($m-xlg, 0, $m-sm, 0);

      button {
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        color: $clay;
        opacity: .65;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .bio {
      @include responsive-font($md);
      font-weight: $thin;
      width: fit-content;
      position: relative;
      cursor: pointer;
      transition: all $short;
      margin: 0;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
        opacity: $lighter;
        transition: all $short;
        transform: translate3d(-100%, 0, 0);
      }

      &:hover {
        opacity: 1;
        color: $clay;

        &::after {
          background-color: $clay;
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      &.is--open {
        opacity: 1;
        color: $clay;

        &::after {
          background-color: $clay;
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .mail {
      @extend .bio;
      @include responsive-font($sm);
      @include margin(0, 0, $m-xlg, 0);
      text-decoration: none;
      color: $primary;
    }

    .project-title {
      @include responsive-font($lg);
      font-weight: $reg;
      @include margin($m-sm, 0, 0, 0);
      width: fit-content;
      cursor: pointer;
      transition: all $short;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
        opacity: $lighter;
        transition: all $short;
        transform: translate3d(-100%, 0, 0);
      }

      &:hover {
        opacity: 1;
        color: $clay;

        &::after {
          background-color: $clay;
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      &.is--open {
        opacity: 1;
        color: $clay;

        &::after {
          background-color: $clay;
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
    .project-year {
      @include responsive-font($sm);
      font-weight: $thin;
      margin: 0;
      width: fit-content;

      &.last {
        @include margin(0, 0, $m-xlg, 0)
      }
    }
  }
}
