@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Khand:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

// FONTS

$font: "Raleway", sans-serif;

$thin: 300;
$reg: 400;
$thick: 500;

$xsm: 0.675;
$sm: .75;
$md: .875;
$lg: 1.2;
$xlg: 1.8;

// COLORS

$primary: #000;
$secondary: #ceaff7;
$tertiary: #afcbf7;
$quaternary: #d0f9df;
$quinary: #f1ffc7;
$colors: primary, secondary, tertiary, quaternary, quinary;

$clay: rgb(151, 39, 5);

// OPACITY
$light: 0.35;
$lighter: 0.2;

// MARGINS

$m-sm: 0.3;
$m-md: .6;
$m-lg: 1;
$m-xlg: 1.5;

// TRANSITIONS

$short: 0.3s;
$long: 0.5s;

// RESPONSIVENESS

$breakpoint: 680px;
